In [1]:
from Invtsim import *
import numpy as np
import pandas as pd
from scipy.stats import norm

In [8]:
path1  = 'D:/Jaypy/Semester 1, 2025/ExtensionHF/JayCode/Reconciliation/'
path2  = 'D:/Jaypy/Semester 1, 2025/ExtensionHF/JayCode/Data/'

del ets, test

def loop(fcst, truth, a = 0.95, df_list = [], length: int = 28, n = None):
    if n == None:
        n = int(len(fcst)/length)
    from tqdm import tqdm
    for i in tqdm(range(n)):
        fcst_1  = fcst[i*length:(i+1)*length]
        truth_1 = truth[i*length:(i+1)*length]
        ds = InvtSim(j=i, fcst = fcst_1, truth = truth_1, alpha = a)
        res = ds.ob_all_t()
        df_list.append(res.reset_index(drop = True))
    #results = pd.concat(res)
    print("-----------DOWN!------------")
    return df_list

## AutoETS base:

In [5]:
ets     = pd.read_pickle(f"{path1}AutoETSfcst.pkl")
test    = pd.read_pickle(f"{path2}test.pkl")
etsfcst = ets['AutoETS']
truth   = test["y"]

asl_99 = loop(fcst = etsfcst, truth = truth, a = 0.99,n = 42840)
a99 = pd.concat(asl_99).reset_index(drop = True)
a99.to_pickle("ETS_base_99.pkl")
a99

100%|███████████████████████████████████████████████████████████████████████████| 42840/42840 [06:14<00:00, 114.54it/s]

-----------DOWN!------------

,DtL,ot,sst,ip,true_demand,forecasts,wip,net,backlog,ch,cb
0,126499.617188,38793.000000,0.000000,87706.617188,38793,42166.539062,0.000000,87706.617188,0.0,87706.617188,0.0
1,126499.617188,35487.000000,0.000000,91012.617188,35487,42166.539062,38793.000000,52219.617188,0.0,52219.617188,0.0
2,126499.617188,41105.520036,6660.520036,92054.617188,34445,42166.539062,74280.000000,17774.617188,0.0,17774.617188,0.0
3,126499.617188,30170.772728,2099.292764,98428.137224,34732,42166.539062,76592.520036,21835.617188,0.0,21835.617188,0.0
4,126499.617188,41374.919350,578.212114,85702.909951,42896,42166.539062,71276.292764,14426.617188,0.0,14426.617188,0.0
...,...,...,...,...,...,...,...,...,...,...,...
1199543,0.215067,0.000000,0.000203,2.230847,0,0.071782,0.000000,2.230847,0.0,2.230847,0.0
1199544,0.214792,0.000000,0.000197,2.230847,0,0.071688,0.000000,2.230847,0.0,2.230847,0.0
1199545,0.214526,0.000000,0.000190,2.230847,0,0.071596,0.000000,2.230847,0.0,2.230847,0.0
1199546,0.142930,0.000000,0.000184,2.230847,0,0.071508,0.000000,2.230847,0.0,2.230847,0.0
1199547,0.071422,0.000000,0.000178,2.230847,0,0.071422,0.000000,2.230847,0.0,2.230847,0.0

In [6]:
asl_95 = loop(fcst = etsfcst, truth = truth, a = 0.95,n = 42840)
a95 = pd.concat(asl_95).reset_index(drop = True)
a95.to_pickle("ETS_base_95.pkl")
a95

100%|███████████████████████████████████████████████████████████████████████████| 42840/42840 [06:05<00:00, 117.18it/s]

-----------DOWN!------------

,DtL,ot,sst,ip,true_demand,forecasts,wip,net,backlog,ch,cb
0,126499.617188,38793.000000,0.000000,87706.617188,38793,42166.539062,0.000000,87706.617188,0.0,87706.617188,0.0
1,126499.617188,35487.000000,0.000000,91012.617188,35487,42166.539062,38793.000000,52219.617188,0.0,52219.617188,0.0
2,126499.617188,41105.520036,6660.520036,92054.617188,34445,42166.539062,74280.000000,17774.617188,0.0,17774.617188,0.0
3,126499.617188,30170.772728,2099.292764,98428.137224,34732,42166.539062,76592.520036,21835.617188,0.0,21835.617188,0.0
4,126499.617188,41374.919350,578.212114,85702.909951,42896,42166.539062,71276.292764,14426.617188,0.0,14426.617188,0.0
...,...,...,...,...,...,...,...,...,...,...,...
2399063,0.215067,0.000000,0.000144,1.640590,0,0.071782,0.000000,1.640590,0.0,1.640590,0.0
2399064,0.214792,0.000000,0.000139,1.640590,0,0.071688,0.000000,1.640590,0.0,1.640590,0.0
2399065,0.214526,0.000000,0.000135,1.640590,0,0.071596,0.000000,1.640590,0.0,1.640590,0.0
2399066,0.142930,0.000000,0.000130,1.640590,0,0.071508,0.000000,1.640590,0.0,1.640590,0.0
2399067,0.071422,0.000000,0.000126,1.640590,0,0.071422,0.000000,1.640590,0.0,1.640590,0.0

In [7]:
asl_90 = loop(fcst = etsfcst, truth = truth, a = 0.90,n = 42840)
a90 = pd.concat(asl_90).reset_index(drop = True)
a90.to_pickle("ETS_base_90.pkl")
a90

100%|███████████████████████████████████████████████████████████████████████████| 42840/42840 [05:51<00:00, 122.00it/s]

-----------DOWN!------------

,DtL,ot,sst,ip,true_demand,forecasts,wip,net,backlog,ch,cb
0,126499.617188,38793.000000,0.000000,87706.617188,38793,42166.539062,0.000000,87706.617188,0.0,87706.617188,0.0
1,126499.617188,35487.000000,0.000000,91012.617188,35487,42166.539062,38793.000000,52219.617188,0.0,52219.617188,0.0
2,126499.617188,41105.520036,6660.520036,92054.617188,34445,42166.539062,74280.000000,17774.617188,0.0,17774.617188,0.0
3,126499.617188,30170.772728,2099.292764,98428.137224,34732,42166.539062,76592.520036,21835.617188,0.0,21835.617188,0.0
4,126499.617188,41374.919350,578.212114,85702.909951,42896,42166.539062,71276.292764,14426.617188,0.0,14426.617188,0.0
...,...,...,...,...,...,...,...,...,...,...,...
3598583,0.215067,0.000000,0.000112,1.325926,0,0.071782,0.000000,1.325926,0.0,1.325926,0.0
3598584,0.214792,0.000000,0.000108,1.325926,0,0.071688,0.000000,1.325926,0.0,1.325926,0.0
3598585,0.214526,0.000000,0.000105,1.325926,0,0.071596,0.000000,1.325926,0.0,1.325926,0.0
3598586,0.142930,0.000000,0.000102,1.325926,0,0.071508,0.000000,1.325926,0.0,1.325926,0.0
3598587,0.071422,0.000000,0.000098,1.325926,0,0.071422,0.000000,1.325926,0.0,1.325926,0.0

## LGBM base:

In [14]:
lgbbase = pd.read_pickle(f"{path1}LGBMfcst.pkl")
test    = pd.read_pickle(f"{path2}test.pkl")
lgbfcst = lgbbase['LGBMRegressor']
truth   = test["y"]

asl_99 = loop(fcst = lgbfcst, truth = truth, a = 0.99,n = 42840)
a99 = pd.concat(asl_99).reset_index(drop = True)
a99.to_pickle("LGBM_base_99.pkl")

asl_95 = loop(fcst = lgbfcst, truth = truth, a = 0.95,n = 42840)
a95 = pd.concat(asl_95).reset_index(drop = True)
a95.to_pickle("LGBM_base_95.pkl")

asl_90 = loop(fcst = lgbfcst, truth = truth, a = 0.90,n = 42840)
a90 = pd.concat(asl_90).reset_index(drop = True)
a90.to_pickle("LGBM_base_90.pkl")

100%|███████████████████████████████████████████████████████████████████████████| 42840/42840 [06:24<00:00, 111.37it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████| 42840/42840 [06:47<00:00, 105.18it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████| 42840/42840 [05:10<00:00, 137.95it/s]

-----------DOWN!------------

In [35]:
l1 = a99[['backlog']]

In [36]:
len(np.where(l1==0)[0])/len(l1)

0.8578849721706865