In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_pickle("processed_data.pkl")

In [3]:
def _get_lags(df:pd.DataFrame, col = "y", gap1:int = 1941, gap2:int = 7, n:int=42840):
    from tqdm import tqdm
    return pd.concat([pd.DataFrame({f"{'y'}_lags_{i+1}": df[col][j*gap1:(j+1)*gap1].shift(i+1) for i in range(gap2)}) for j in tqdm(range(n))])

In [4]:
lags = _get_lags(df = data)

100%|█████████████████████████████████████████████████████████████████████| 42840/42840 [01:55<00:00, 370.23it/s]

In [9]:
data

,unique_id,ds,y,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end,...,level,sell_price,price_std,price_max,price_min,price_mean,price_std_dev,price_momentum_1d,price_momentum_1m,price_momentum_1y
0,TOTAL,1,32631,29,4,1,0,5,5,1,...,1,44506.87,-2.346405,44506.87,44506.87,44506.87,0.0,0.0,0.0,0.000000
1,TOTAL,2,31749,30,4,1,0,5,6,1,...,1,44506.87,-1.620097,0.97,0.97,0.97,0.0,0.0,0.0,0.000000
2,TOTAL,3,23783,31,5,1,0,5,0,0,...,1,44506.87,0.379978,2.24,2.24,2.24,0.0,0.0,0.0,0.000000
3,TOTAL,4,25412,1,5,2,0,1,1,0,...,1,44506.87,0.248930,2.24,2.24,2.24,0.0,0.0,0.0,0.137056
4,TOTAL,5,19146,2,5,2,0,1,2,0,...,1,44506.87,-0.263412,0.98,0.98,0.98,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83152435,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0,18,20,5,5,3,2,0,...,12,5.94,0.085214,7.94,7.94,7.94,0.0,0.0,0.0,0.000000
83152436,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0,19,20,5,5,3,3,0,...,12,5.94,-0.364995,9.47,9.47,9.47,0.0,0.0,0.0,0.000000
83152437,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0,20,20,5,5,3,4,0,...,12,5.94,0.817648,8.48,8.48,8.48,0.0,0.0,0.0,0.000000
83152438,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0,21,20,5,5,3,5,1,...,12,5.94,0.083312,5.94,5.94,5.94,0.0,0.0,0.0,0.000000
83152439,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0,22,20,5,5,4,6,1,...,12,5.94,0.083312,5.94,5.94,5.94,0.0,0.0,0.0,0.000000

In [11]:
%%time
pd.concat([data,lags],axis = 1).to_pickle("final_processed_data.pkl")

Wall time: 1min 20s