In [1]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_pickle("data_with_uid.pkl")
dff = df[["unique_id","sell_price"]]

In [5]:
def sell_price(df):
    df['price_std'] = (df['sell_price'] - df['sell_price'].mean()) / df['sell_price'].std()
    df['price_max'] = df['sell_price'].rolling(window=30, min_periods=1).max()  
    df['price_min'] = df['sell_price'].rolling(window=30, min_periods=1).min()  
    df['price_mean'] = df['sell_price'].rolling(window=30, min_periods=1).mean()  
    df['price_std_dev'] = df['sell_price'].rolling(window=30, min_periods=1).std()  
    df['price_momentum_1d'] = df['sell_price'] / df['sell_price'].shift(1) - 1  
    df['price_momentum_1m'] = df['sell_price'] / df['sell_price'].shift(30) - 1  
    df['price_momentum_1y'] = df['sell_price'] / df['sell_price'].shift(365) - 1  
    df.fillna(0, inplace=True)
    return df

In [6]:
from tqdm import tqdm
import warnings
warnings.filterwarnings("ignore")
dff_l = []
for i in tqdm(range(42840)):
    dff_l.append(sell_price(dff.iloc[i*1941:(i+1)*1941,:]))

100%|█████████████████████████████████████████████████████████████████████| 42840/42840 [06:49<00:00, 104.51it/s]

In [8]:
len(dff_l)

42840

In [9]:
price_data = pd.concat(dff_l)

In [12]:
price_data = price_data.reset_index(drop=True)
price_data.to_pickle("price_data.pkl")

In [11]:
83152440/1941

42840.0

In [16]:
price_data.columns

Index(['unique_id', 'sell_price', 'price_std', 'price_max', 'price_min',
       'price_mean', 'price_std_dev', 'price_momentum_1d', 'price_momentum_1m',
       'price_momentum_1y'],
      dtype='object')

In [24]:
fp = price_data[['price_std', 'price_max', 'price_min',
       'price_mean', 'price_std_dev', 'price_momentum_1d', 'price_momentum_1m',
       'price_momentum_1y']]

## combination

In [27]:
new_df = pd.concat([df,fp], axis = 1)

In [28]:
new_df

,unique_id,ds,y,tm_d,tm_w,tm_m,tm_y,tm_wm,tm_dw,tm_w_end,...,level,sell_price,price_std,price_max,price_min,price_mean,price_std_dev,price_momentum_1d,price_momentum_1m,price_momentum_1y
0,TOTAL,1,32631,29,4,1,0,5,5,1,...,1,44506.87,-2.346405,44506.87,44506.87,44506.87,0.0,0.0,0.0,0.000000
42840,TOTAL,2,31749,30,4,1,0,5,6,1,...,1,44506.87,-1.620097,0.97,0.97,0.97,0.0,0.0,0.0,0.000000
85680,TOTAL,3,23783,31,5,1,0,5,0,0,...,1,44506.87,0.379978,2.24,2.24,2.24,0.0,0.0,0.0,0.000000
128520,TOTAL,4,25412,1,5,2,0,1,1,0,...,1,44506.87,0.248930,2.24,2.24,2.24,0.0,0.0,0.0,0.137056
171360,TOTAL,5,19146,2,5,2,0,1,2,0,...,1,44506.87,-0.263412,0.98,0.98,0.98,0.0,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82981079,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0,18,20,5,5,3,2,0,...,12,5.94,0.085214,7.94,7.94,7.94,0.0,0.0,0.0,0.000000
83023919,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0,19,20,5,5,3,3,0,...,12,5.94,-0.364995,9.47,9.47,9.47,0.0,0.0,0.0,0.000000
83066759,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0,20,20,5,5,3,4,0,...,12,5.94,0.817648,8.48,8.48,8.48,0.0,0.0,0.0,0.000000
83109599,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0,21,20,5,5,3,5,1,...,12,5.94,0.083312,5.94,5.94,5.94,0.0,0.0,0.0,0.000000
83152439,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0,22,20,5,5,4,6,1,...,12,5.94,0.083312,5.94,5.94,5.94,0.0,0.0,0.0,0.000000

In [29]:
new_df.to_pickle("all_processed_data.pkl")

In [30]:
new_df[new_df['ds'] >= 1914].to_pickle("test.pkl")
new_df[new_df['ds'] < 1914].to_pickle("train.pkl")