## Order TDFP

In [1]:
import pandas as pd
import numpy as np
from tqdm import tqdm
from hierarchicalforecast.core import HierarchicalReconciliation
from hierarchicalforecast.methods import BottomUp, TopDown, MinTrace
from tqdm import tqdm
from functools import lru_cache
import warnings
warnings.simplefilter("ignore")
path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
'''lp = {"l1" :(0,1),
      "l2" :(1,(1+3)),
      "l4" :((1+3),(1+3+3)),
      "l3" :((1+3+3),(1+3+3+10)),
      "l5" :((1+3+10+3),(1+3+10+3+7)),
      "l6" :((1+3+10+3+7),(1+3+10+3+7+9)),
      "l7" :((1+3+10+3+7+9),(1+3+10+3+7+9+21)),
      "l8" :((1+3+10+3+7+9+21),(1+3+10+3+7+9+21+30)),
      "l10":((1+3+10+3+7+9+21+30),(1+3+10+3+7+9+21+30+3049)),
      "l9" :((1+3+10+3+7+9+21+30+3049),(1+3+10+3+7+9+21+30+3049+70)),
      "l11":((1+3+10+3+7+9+21+30+70+3049),(1+3+10+3+7+9+21+30+70+3049+9147)),
      "l12":((1+3+10+3+7+9+21+30+70+3049+9147),(1+3+10+3+7+9+21+30+70+3049+9147+30490))}'''
lp = {"l10" :(0,3049),"l11":(3049,3049+9147),"l12":(3049+9147,3049+9147+30490)}
lvls = []
#n = 1
for i in lp.keys():
    a,b = lp[i]
    lvls.append([i[1:]]*28*(b-a))
   # n+=1
levels = pd.concat([pd.DataFrame({'levels':lvls[i]}) for i in range(len(lvls))]).reset_index(drop=True)
test    = pd.read_pickle(f"{path1}721future_28.pkl").reset_index(drop=True)
tags    = pd.read_pickle(f"{path1}tags.bin")
ts      = pd.concat([levels, test[['unique_id','ds']]],axis = 1)

lvls = []
for i in lp.keys():
    a,b = lp[i]
    lvls.append([i[1:]]*(b-a))
levels2 = pd.concat([pd.DataFrame({'levels':lvls[i]}) for i in range(len(lvls))]).reset_index(drop=True)
S       = pd.read_pickle(f"{path1}721S_df.pkl")
#a = pd.concat([levels2, S],axis=1)
s = S #a[a['levels'].isin(['10','11','12'])].iloc[:,1:]

tags    = pd.read_pickle(f"{path1}tags.bin")
l10_12 = ['total/cat_id/dept_id/item_id', 'total/state_id/cat_id/dept_id/item_id', 'total/state_id/store_id/cat_id/dept_id/item_id']
tags_ = {i:tags[i] for i in l10_12}
ts2 = ts[ts['levels'].isin(['10','11','12'])]
prods = [i.split('/')[-1] for i in tags_[l10_12[0]]]
lis = s.iloc[:,0].unique()
del S, tags

c:\py\Anaconda3\lib\site-packages\numba\np\ufunc\parallel.py:371: NumbaWarning: The TBB threading layer requires TBB version 2021 update 6 or later i.e., TBB_INTERFACE_VERSION >= 12060. Found TBB_INTERFACE_VERSION = 12040. The TBB threading layer is disabled.
  warnings.warn(problem)

In [15]:
ts2.iloc[:,1].unique()

array(['TOTAL/FOODS/FOODS_1/FOODS_1_001',
       'TOTAL/FOODS/FOODS_1/FOODS_1_002',
       'TOTAL/FOODS/FOODS_1/FOODS_1_003', ...,
       'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_514',
       'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_515',
       'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_516'],
      dtype=object)

### CHECK

In [ ]:
df_ = pd.concat([ts2,df[df['name'] == 'lgb_base'].loc[ts2.index,:]],axis=1)
df_
prods = [i.split('/')[-1] for i in tags_[l10_12[2]]]
fcst = []
for j in tqdm(prods):
    a = df_[cols]
    b   = a[a['unique_id'].str.contains(i)]
    bs  = s[s['unique_id'].str.contains(i)]
    bss = pd.concat([bs['unique_id'],bs.loc[:, bs.columns.str.contains(i)]],axis=1)
    fcst.append(TDFP.reconcile(Y_hat_df=b, S=bss, tags=btags).iloc[:,-3:])

In [64]:
b = a[(a['unique_id'].str.contains('FOODS_1_001'))|(a['unique_id'].str.contains('FOODS_1_002'))]
bs = s[(s['unique_id'].str.contains('FOODS_1_001'))|(s['unique_id'].str.contains('FOODS_1_002'))]
bss = pd.concat([bs['unique_id'],bs.loc[:,bs.columns.str.contains('FOODS_1_001')|bs.columns.str.contains('FOODS_1_002')]],axis=1)
l = [0,2,8,28]
btags = {l10_12[i]: bs['unique_id'].unique()[l[i]:l[i+1]] for i in range(3)}
tdfp = [TopDown(method = 'forecast_proportions')]
TDFP = HierarchicalReconciliation(reconcilers=tdfp)
cols = ['unique_id','ds','ot_90','ot_95','ot_99']
TDFP.reconcile(Y_hat_df=bs[cols], S=ss, tags=btags)

,unique_id,ds,ot_90,ot_95,ot_99,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions
0,TOTAL/FOODS/FOODS_1/FOODS_1_001,1914,7.338106,8.939324,11.942942,7.338106,8.939324,11.942942
1,TOTAL/FOODS/FOODS_1/FOODS_1_001,1915,2.989336,2.989336,2.989336,2.989336,2.989336,2.989336
2,TOTAL/FOODS/FOODS_1/FOODS_1_001,1916,5.119798,5.119798,5.119798,5.119798,5.119798,5.119798
3,TOTAL/FOODS/FOODS_1/FOODS_1_001,1917,8.181289,8.181289,8.181289,8.181289,8.181289,8.181289
4,TOTAL/FOODS/FOODS_1/FOODS_1_001,1918,0.068346,0.068346,0.068346,0.068346,0.068346,0.068346
...,...,...,...,...,...,...,...,...
779,TOTAL/WI/WI_3/FOODS/FOODS_1/FOODS_1_002,1937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
780,TOTAL/WI/WI_3/FOODS/FOODS_1/FOODS_1_002,1938,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
781,TOTAL/WI/WI_3/FOODS/FOODS_1/FOODS_1_002,1939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
782,TOTAL/WI/WI_3/FOODS/FOODS_1/FOODS_1_002,1940,1.852920,1.852920,1.852920,0.000000,0.000000,0.000000
783,TOTAL/WI/WI_3/FOODS/FOODS_1/FOODS_1_002,1941,1.137621,1.137621,1.137621,0.000000,0.000000,0.000000

### TDFP L1

In [2]:
needs = ['levels','unique_id','ds','name','ot_90','ot_95','ot_99']
col  = ['ot_90','ot_95','ot_99']
names = ['lgb_base', 'lgb_bu', 'lgb_td', 'lgb_mint', 'ets_base', 'ets_bu', 'ets_td', 'ets_mint']
#names = ['lgb_base','lgb_td', 'ets_base', 'ets_td']
lt = 1 # lead time
lgbs = pd.read_pickle(f"721lgbInvtSim_L{lt}.pkl")
etss = pd.read_pickle(f"721etsInvtSim_L{lt}.pkl")
df = pd.concat([lgbs,etss])
df_ = pd.concat([ts2,df[df['name'] == 'lgb_base'].loc[ts2.index,:]],axis=1)

In [3]:
df_#lgbs#[['unique_id','ds','ot_90','ot_95','ot_99']]

,levels,unique_id,ds,name,true_demand,forecasts,ot_90,ip_90,net_90,backlog_90,...,net_95,backlog_95,ch_95,cb_95,ot_99,ip_99,net_99,backlog_99,ch_99,cb_99
0,10,TOTAL/FOODS/FOODS_1/FOODS_1_001,1914,lgb_base,4,5.689794,7.338106,7.338106,7.338106,0.0,...,8.939324,0.0,8.939324,0.0,11.942942,11.942942,11.942942,0.0,11.942942,0.0
1,10,TOTAL/FOODS/FOODS_1/FOODS_1_001,1915,lgb_base,5,4.679130,2.989336,5.327442,5.327442,0.0,...,6.928660,0.0,6.928660,0.0,2.989336,9.932278,9.932278,0.0,9.932278,0.0
2,10,TOTAL/FOODS/FOODS_1/FOODS_1_001,1916,lgb_base,7,4.798928,5.119798,3.447240,3.447240,0.0,...,5.048458,0.0,5.048458,0.0,5.119798,8.052076,8.052076,0.0,8.052076,0.0
3,10,TOTAL/FOODS/FOODS_1/FOODS_1_001,1917,lgb_base,1,5.980217,8.181289,10.628529,10.628529,0.0,...,12.229747,0.0,12.229747,0.0,8.181289,15.233366,15.233366,0.0,15.233366,0.0
4,10,TOTAL/FOODS/FOODS_1/FOODS_1_001,1918,lgb_base,9,5.048564,0.068346,1.696875,1.696875,0.0,...,3.298093,0.0,3.298093,0.0,0.068346,6.301712,6.301712,0.0,6.301712,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195203,12,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,lgb_base,0,0.177103,0.000000,0.981837,0.981837,0.0,...,1.128359,0.0,1.128359,0.0,0.000000,1.403211,1.403211,0.0,1.403211,0.0
1195204,12,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,lgb_base,0,0.186536,0.000000,0.981837,0.981837,0.0,...,1.128359,0.0,1.128359,0.0,0.000000,1.403211,1.403211,0.0,1.403211,0.0
1195205,12,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,lgb_base,0,0.174125,0.000000,0.981837,0.981837,0.0,...,1.128359,0.0,1.128359,0.0,0.000000,1.403211,1.403211,0.0,1.403211,0.0
1195206,12,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,lgb_base,0,0.242970,0.000000,0.981837,0.981837,0.0,...,1.128359,0.0,1.128359,0.0,0.000000,1.403211,1.403211,0.0,1.403211,0.0
1195207,12,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,lgb_base,0,0.142334,0.000000,0.981837,0.981837,0.0,...,1.128359,0.0,1.128359,0.0,0.000000,1.403211,1.403211,0.0,1.403211,0.0

In [3]:
tdfp = [TopDown(method = 'forecast_proportions')]
TDFP = HierarchicalReconciliation(reconcilers=tdfp)
#btags = {l10_12[i]: bs['unique_id'].unique()[l[i]:l[i+1]] for i in range(3)}
cols = ['unique_id','ds','ot_90','ot_95','ot_99']
OrderTd = []
for i in names:
    print(f"--------------------------------{i}-----------------------------------------")
    df_ = pd.concat([ts2,df[df['name'] == i].loc[ts2.index,:]],axis=1)
    orfcst = []
    for j in tqdm(prods):
        b = df_[(df_['unique_id'].str.contains(j))]
        idx = b.index
        bs = s[(s['unique_id'].str.contains(j))]
        bss = pd.concat([bs['unique_id'],bs.loc[:,bs.columns.str.contains(j)]],axis=1)
        ortdfp = TDFP.reconcile(Y_hat_df=b[cols], S=bss, tags=tags_)
        ortdfp['idx'] = idx
        orfcst.append(ortdfp)
    OrderTd.append(pd.concat(orfcst).sort_values(by='idx'))
Order_TDFP = pd.concat(OrderTd)
#Order_TDFP.to_pickle(f"721OrderTDFP_L{lt}.pkl")

--------------------------------lgb_base-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:52<00:00,  1.82it/s]

--------------------------------lgb_bu-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:46<00:00,  1.83it/s]

--------------------------------lgb_td-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:43<00:00,  1.83it/s]

--------------------------------lgb_mint-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:46<00:00,  1.83it/s]

--------------------------------ets_base-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:43<00:00,  1.83it/s]

--------------------------------ets_bu-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:44<00:00,  1.83it/s]

--------------------------------ets_td-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:48<00:00,  1.83it/s]

--------------------------------ets_mint-----------------------------------------

100%|██████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 3049/3049 [27:47<00:00,  1.83it/s]

In [5]:
Order_TDFP.to_pickle(f"721OrderTDFP_L{lt}.pkl")
#import pandas as pd
#lt =1
#Order_TDFP = pd.read_pickle(f"721OrderTDFP_L{lt}_8.pkl")

In [5]:
Order_TDFP = pd.read_pickle(f"721OrderTDFP_L{lt}.pkl")
Order_TDFP

,unique_id,ds,ot_90,ot_95,ot_99,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions,idx
0,TOTAL/FOODS/FOODS_1/FOODS_1_001,1914,7.338106,8.939324,11.942942,7.338106,8.939324,11.942942,0
1,TOTAL/FOODS/FOODS_1/FOODS_1_001,1915,2.989336,2.989336,2.989336,2.989336,2.989336,2.989336,1
2,TOTAL/FOODS/FOODS_1/FOODS_1_001,1916,5.119798,5.119798,5.119798,5.119798,5.119798,5.119798,2
3,TOTAL/FOODS/FOODS_1/FOODS_1_001,1917,8.181289,8.181289,8.181289,8.181289,8.181289,8.181289,3
4,TOTAL/FOODS/FOODS_1/FOODS_1_001,1918,0.068346,0.068346,0.068346,0.068346,0.068346,0.068346,4
...,...,...,...,...,...,...,...,...,...
387,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195203
388,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0.000000,0.000000,0.000000,0.016562,0.016562,0.016562,1195204
389,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0.021772,0.021772,0.021772,0.028005,0.028005,0.028005,1195205
390,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0.025888,0.025888,0.025888,0.025936,0.025936,0.025936,1195206
391,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195207

In [15]:
Order_TDFP#.iloc[:,-4:-1]

,unique_id,ds,ot_90,ot_95,ot_99,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions,idx
0,TOTAL/FOODS/FOODS_1/FOODS_1_001,1914,7.338106,8.939324,11.942942,7.338106,8.939324,11.942942,0
1,TOTAL/FOODS/FOODS_1/FOODS_1_001,1915,2.989336,2.989336,2.989336,2.989336,2.989336,2.989336,1
2,TOTAL/FOODS/FOODS_1/FOODS_1_001,1916,5.119798,5.119798,5.119798,5.119798,5.119798,5.119798,2
3,TOTAL/FOODS/FOODS_1/FOODS_1_001,1917,8.181289,8.181289,8.181289,8.181289,8.181289,8.181289,3
4,TOTAL/FOODS/FOODS_1/FOODS_1_001,1918,0.068346,0.068346,0.068346,0.068346,0.068346,0.068346,4
...,...,...,...,...,...,...,...,...,...
387,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195203
388,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0.000000,0.000000,0.000000,0.016562,0.016562,0.016562,1195204
389,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0.021772,0.021772,0.021772,0.028005,0.028005,0.028005,1195205
390,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0.025888,0.025888,0.025888,0.025936,0.025936,0.025936,1195206
391,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195207

In [7]:
a = 0
b1 = Order_TDFP.iloc[a*1195208:(a+1)*1195208,:]
b2 = Order_TDFP.iloc[(a+1)*1195208:(a+2)*1195208,:]

In [23]:
b1.iloc[-28:,:]#['unique_id'].unique()

,unique_id,ds,ot_90,ot_95,ot_99,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions,idx
364,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1914,0.642431,0.788953,1.063805,0.000000,0.055749,0.188661,1195180
365,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1915,0.002373,0.002373,0.002373,0.003586,0.003095,0.002463,1195181
366,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1916,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195182
367,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1917,0.002271,0.002271,0.002271,0.000000,0.000000,0.000000,1195183
368,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1918,0.009644,0.009644,0.009644,0.005443,0.005443,0.005443,1195184
369,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1919,1.291304,1.291304,1.291304,1.525565,1.525565,1.525565,1195185
370,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1920,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195186
371,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1921,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195187
372,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195188
373,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195189
374,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1924,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195190
375,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1925,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195191
376,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1926,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195192
377,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195193
378,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195194
379,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1929,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195195
380,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1930,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195196
381,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1931,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195197
382,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1932,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195198
383,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1933,0.000000,0.000000,0.000000,0.000409,0.000409,0.000409,1195199
384,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1934,1.033814,1.033814,1.033814,1.177877,1.177877,1.177877,1195200
385,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1935,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195201
386,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1936,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195202
387,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195203
388,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195204
389,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195205
390,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195206
391,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195207

In [24]:
b2.iloc[-28:,:]#['unique_id'].unique()

,unique_id,ds,ot_90,ot_95,ot_99,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions,idx
364,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1914,0.557052,0.703575,0.978427,0.000000,0.032289,0.178844,1195180
365,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1915,0.023402,0.023402,0.023402,0.041474,0.034940,0.026909,1195181
366,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1916,0.006291,0.006291,0.006291,0.000000,0.000000,0.000000,1195182
367,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1917,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195183
368,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1918,0.016610,0.016610,0.016610,0.009517,0.009517,0.009517,1195184
369,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1919,1.231274,1.231274,1.231274,1.421403,1.421403,1.421403,1195185
370,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1920,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195186
371,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1921,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195187
372,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1922,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195188
373,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1923,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195189
374,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1924,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195190
375,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1925,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195191
376,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1926,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195192
377,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1927,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195193
378,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1928,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195194
379,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1929,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195195
380,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1930,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195196
381,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1931,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195197
382,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1932,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195198
383,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1933,0.000000,0.000000,0.000000,0.005535,0.005535,0.005535,1195199
384,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1934,0.952800,0.952800,0.952800,1.194807,1.194807,1.194807,1195200
385,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1935,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195201
386,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1936,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195202
387,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195203
388,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195204
389,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195205
390,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195206
391,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195207

### TDFP L3

In [9]:
needs = ['levels','unique_id','ds','name','ot_90','ot_95','ot_99']
cols  = ['ot_90','ot_95','ot_99']
names = ['lgb_base', 'lgb_bu', 'lgb_td', 'lgb_mint', 'ets_base', 'ets_bu', 'ets_td', 'ets_mint']
#names = ['lgb_base','lgb_td', 'ets_base', 'ets_td']
#names = ['lgb_base']
lt = 3 # lead time
lgbs = pd.read_pickle(f"lgbInvtSim_L{lt}.pkl")
etss = pd.read_pickle(f"etsInvtSim_L{lt}.pkl")
df = pd.concat([lgbs,etss])
tdfpo90,tdfpo95,tdfpo99 = [], [], []
for j in names:
    a = TDFP(df[df['name'] == j], col = 'ot_90',ts_id = ts)
    tdfpo90.append(a)
    b = TDFP(df[df['name'] == j], col = 'ot_95',ts_id = ts)
    tdfpo95.append(b)
    c = TDFP(df[df['name'] == j], col = 'ot_99',ts_id = ts)
    tdfpo99.append(c)
a_ = pd.concat(tdfpo99)
b_ = pd.concat(tdfpo95)
c_ = pd.concat(tdfpo90)
Order_TDFP = pd.concat([c_[['name','tdfp_ot_90']], b_['tdfp_ot_95'], a_['tdfp_ot_99']],axis = 1).fillna(0)
Order_TDFP.to_pickle(f"OrderTDFP_L{lt}.pkl")

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:10<00:00,  2.73it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.87it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:10<00:00,  2.64it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:10<00:00,  2.67it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.89it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.93it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.89it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.89it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.93it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.94it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.89it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.88it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.94it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.88it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]

### TDFP L7

In [10]:
needs = ['levels','unique_id','ds','name','ot_90','ot_95','ot_99']
cols  = ['ot_90','ot_95','ot_99']
names = ['lgb_base', 'lgb_bu', 'lgb_td', 'lgb_mint', 'ets_base', 'ets_bu', 'ets_td', 'ets_mint']
#names = ['lgb_base','lgb_td', 'ets_base', 'ets_td']
lt = 7 # lead time
lgbs = pd.read_pickle(f"lgbInvtSim_L{lt}.pkl")
etss = pd.read_pickle(f"etsInvtSim_L{lt}.pkl")
df = pd.concat([lgbs,etss])
tdfpo90,tdfpo95,tdfpo99 = [], [], []
for j in names:
    a = TDFP(df[df['name'] == j], col = 'ot_90',ts_id = ts)
    tdfpo90.append(a)
    b = TDFP(df[df['name'] == j], col = 'ot_95',ts_id = ts)
    tdfpo95.append(b)
    c = TDFP(df[df['name'] == j], col = 'ot_99',ts_id = ts)
    tdfpo99.append(c)
a_ = pd.concat(tdfpo99)
b_ = pd.concat(tdfpo95)
c_ = pd.concat(tdfpo90)
Order_TDFP = pd.concat([c_[['name','tdfp_ot_90']], b_['tdfp_ot_95'], a_['tdfp_ot_99']],axis = 1).fillna(0)
Order_TDFP.to_pickle(f"OrderTDFP_L{lt}.pkl")

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.85it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.89it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.81it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.85it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.91it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.87it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.85it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.87it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.82it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.87it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.85it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.90it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.85it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  2.86it/s]

### TDFP L14

In [50]:
needs = ['levels','unique_id','ds','name','ot_90','ot_95','ot_99']
cols  = ['ot_90','ot_95','ot_99']
names = ['lgb_base', 'lgb_bu', 'lgb_td', 'lgb_mint', 'ets_base', 'ets_bu', 'ets_td', 'ets_mint']
#names = ['lgb_base','lgb_td', 'ets_base', 'ets_td']
lt = 14 # lead time
lgbs = pd.read_pickle(f"lgbInvtSim_L{lt}.pkl")
etss = pd.read_pickle(f"etsInvtSim_L{lt}.pkl")
df = pd.concat([lgbs,etss])
tdfpo90,tdfpo95,tdfpo99 = [], [], []
for j in names:
    a = TDFP(df[df['name'] == j], col = 'ot_90',ts_id = ts)
    tdfpo90.append(a)
    b = TDFP(df[df['name'] == j], col = 'ot_95',ts_id = ts)
    tdfpo95.append(b)
    c = TDFP(df[df['name'] == j], col = 'ot_99',ts_id = ts)
    tdfpo99.append(c)
a_ = pd.concat(tdfpo99)
b_ = pd.concat(tdfpo95)
c_ = pd.concat(tdfpo90)
Order_TDFP = pd.concat([c_[['name','tdfp_ot_90']], b_['tdfp_ot_95'], a_['tdfp_ot_99']],axis = 1)
Order_TDFP.to_pickle(f"OrderTDFP_L{lt}.pkl")

100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  3.11it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:09<00:00,  3.09it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.25it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.25it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.25it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.22it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.26it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.21it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.21it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.21it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.24it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.20it/s]
100%|████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 28/28 [00:08<00:00,  3.19it/s]

In [18]:
Order_TDFP#['name']#.unique()

             name    tdfp_ot_90    tdfp_ot_95    tdfp_ot_99
0        lgb_base      0.000000      0.000000      0.000000
1        lgb_base  28765.856606  29343.083450  30425.865012
2        lgb_base  40407.312866  40407.312866  40407.312866
3        lgb_base  40387.682971  40387.682971  40387.682971
4        lgb_base  41906.803868  41906.803868  41906.803868
...           ...           ...           ...           ...
1199515  ets_mint           NaN           NaN           NaN
1199516  ets_mint           NaN           NaN           NaN
1199517  ets_mint           NaN           NaN           NaN
1199518  ets_mint           NaN           NaN           NaN
1199519  ets_mint           NaN           NaN           NaN

[9596160 rows x 4 columns]

## Fixed Order Simulation:

In [6]:
import warnings
warnings.simplefilter("ignore")
#path1  = 'D:/yjz/Extension for hts/JayCode/Models/'
from Invtsim import *
import numpy as np
import pandas as pd
from scipy.stats import norm
from tqdm import tqdm
def loop2( truth, NAME:str, fcst, residual = 0,
         gap1: int = 28, gap2:int = 1913,
         n = None, 
         df_list:list = [], 
         L_ = 3):
    if n == None:
        n = int(len(truth)/gap1)
    for i in tqdm(range(n)):
        fcst_1  = fcst[i*gap1:(i+1)*gap1]
        truth_1 = truth[i*gap1:(i+1)*gap1]
        #res_1   = residual[i*gap2:(i+1)*gap2]
        df = InvtSim(fcst = 0, truth = truth_1, residual = residual, name = NAME, L=L_)##################
        res = df.ob_all_t_fixedcase(fixed_order = fcst_1)
        df_list.append(res.reset_index(drop = True))
    print("-----------DOWN!------------")
    return pd.concat(df_list).reset_index(drop=True)
lt = 1
lgbs = pd.read_pickle(f"721lgbInvtSim_L{lt}.pkl")
etss = pd.read_pickle(f"721etsInvtSim_L{lt}.pkl")
df = pd.concat([lgbs,etss])

## TD-FIXED SIMULATION:

In [3]:
df

,name,true_demand,forecasts,ot_90,ip_90,net_90,backlog_90,ch_90,cb_90,ot_95,...,net_95,backlog_95,ch_95,cb_95,ot_99,ip_99,net_99,backlog_99,ch_99,cb_99
0,lgb_base,4,5.689794,7.338106,7.338106,7.338106,0.0,7.338106,0.0,8.939324,...,8.939324,0.0,8.939324,0.0,11.942942,11.942942,11.942942,0.0,11.942942,0.0
1,lgb_base,5,4.679130,2.989336,5.327442,5.327442,0.0,5.327442,0.0,2.989336,...,6.928660,0.0,6.928660,0.0,2.989336,9.932278,9.932278,0.0,9.932278,0.0
2,lgb_base,7,4.798928,5.119798,3.447240,3.447240,0.0,3.447240,0.0,5.119798,...,5.048458,0.0,5.048458,0.0,5.119798,8.052076,8.052076,0.0,8.052076,0.0
3,lgb_base,1,5.980217,8.181289,10.628529,10.628529,0.0,10.628529,0.0,8.181289,...,12.229747,0.0,12.229747,0.0,8.181289,15.233366,15.233366,0.0,15.233366,0.0
4,lgb_base,9,5.048564,0.068346,1.696875,1.696875,0.0,1.696875,0.0,0.068346,...,3.298093,0.0,3.298093,0.0,0.068346,6.301712,6.301712,0.0,6.301712,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195203,ets_mint,0,0.031334,0.000000,0.532890,0.532890,0.0,0.532890,0.0,0.000000,...,0.662922,0.0,0.662922,0.0,0.000000,0.906839,0.906839,0.0,0.906839,0.0
1195204,ets_mint,0,0.068989,0.000000,0.532890,0.532890,0.0,0.532890,0.0,0.000000,...,0.662922,0.0,0.662922,0.0,0.000000,0.906839,0.906839,0.0,0.906839,0.0
1195205,ets_mint,0,0.095974,0.021772,0.554662,0.554662,0.0,0.554662,0.0,0.021772,...,0.684694,0.0,0.684694,0.0,0.021772,0.928612,0.928612,0.0,0.928612,0.0
1195206,ets_mint,0,0.121862,0.025888,0.580550,0.580550,0.0,0.580550,0.0,0.025888,...,0.710581,0.0,0.710581,0.0,0.025888,0.954499,0.954499,0.0,0.954499,0.0
1195207,ets_mint,0,0.114249,0.000000,0.580550,0.580550,0.0,0.580550,0.0,0.000000,...,0.710581,0.0,0.710581,0.0,0.000000,0.954499,0.954499,0.0,0.954499,0.0

### L1

In [14]:
path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
TD   = pd.read_pickle("721OrderTDFP_L1.pkl")#.iloc[:,-4:-1]
TD

,unique_id,ds,ot_90,ot_95,ot_99,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions,idx
0,TOTAL/FOODS/FOODS_1/FOODS_1_001,1914,7.338106,8.939324,11.942942,7.338106,8.939324,11.942942,0
1,TOTAL/FOODS/FOODS_1/FOODS_1_001,1915,2.989336,2.989336,2.989336,2.989336,2.989336,2.989336,1
2,TOTAL/FOODS/FOODS_1/FOODS_1_001,1916,5.119798,5.119798,5.119798,5.119798,5.119798,5.119798,2
3,TOTAL/FOODS/FOODS_1/FOODS_1_001,1917,8.181289,8.181289,8.181289,8.181289,8.181289,8.181289,3
4,TOTAL/FOODS/FOODS_1/FOODS_1_001,1918,0.068346,0.068346,0.068346,0.068346,0.068346,0.068346,4
...,...,...,...,...,...,...,...,...,...
387,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1937,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195203
388,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1938,0.000000,0.000000,0.000000,0.016562,0.016562,0.016562,1195204
389,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1939,0.021772,0.021772,0.021772,0.028005,0.028005,0.028005,1195205
390,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1940,0.025888,0.025888,0.025888,0.025936,0.025936,0.025936,1195206
391,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...,1941,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1195207

In [13]:
ts2

        levels                                          unique_id    ds
0           10                    TOTAL/FOODS/FOODS_1/FOODS_1_001  1914
1           10                    TOTAL/FOODS/FOODS_1/FOODS_1_001  1915
2           10                    TOTAL/FOODS/FOODS_1/FOODS_1_001  1916
3           10                    TOTAL/FOODS/FOODS_1/FOODS_1_001  1917
4           10                    TOTAL/FOODS/FOODS_1/FOODS_1_001  1918
...        ...                                                ...   ...
1195203     12  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1937
1195204     12  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1938
1195205     12  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1939
1195206     12  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1940
1195207     12  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1941

[1195208 rows x 3 columns]

In [7]:
path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
TD   = pd.read_pickle("721OrderTDFP_L1.pkl").iloc[:,-4:-1]
truth= pd.read_pickle(f"{path1}721future_28.pkl")
Invt_df = []
#names   = [ "lgb_base", "lgb_td", "ets_base","ets_td"]
names = ['lgb_base', 'lgb_bu', 'lgb_td', 'lgb_mint', 'ets_base', 'ets_bu', 'ets_td', 'ets_mint']
a = [df[df['name'] == i].loc[ts2.index,:] for i in names]
TD = pd.concat([pd.concat(a)['name'].reset_index(drop=True),TD.reset_index(drop=True)],axis=1)
tru = pd.concat([levels, truth], axis = 1)
tru = tru[tru['levels'].isin(['10','11','12'])].reset_index(drop=True)

In [8]:
TD

,name,ot_90/TopDown_method-forecast_proportions,ot_95/TopDown_method-forecast_proportions,ot_99/TopDown_method-forecast_proportions
0,lgb_base,7.338106,8.939324,11.942942
1,lgb_base,2.989336,2.989336,2.989336
2,lgb_base,5.119798,5.119798,5.119798
3,lgb_base,8.181289,8.181289,8.181289
4,lgb_base,0.068346,0.068346,0.068346
...,...,...,...,...
9561659,ets_mint,0.000000,0.000000,0.000000
9561660,ets_mint,0.016562,0.016562,0.016562
9561661,ets_mint,0.028005,0.028005,0.028005
9561662,ets_mint,0.025936,0.025936,0.025936
9561663,ets_mint,0.000000,0.000000,0.000000

In [9]:
#path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
#TD   = pd.read_pickle("OrderTDFP_10-12.pkl")
#truth= pd.read_pickle(f"{path1}future_28.pkl")['y']
Invt_df = []
names   = [ "lgb_base", "lgb_bu", "lgb_td", "lgb_mint", "ets_base", "ets_bu", "ets_td", "ets_mint"]
lead_time = 1
for i in names:
    df = loop2(fcst = TD[TD['name'] == i].iloc[:,-3:], truth = tru['y'], residual = [], NAME = i, df_list = [], L_=lead_time)# L_=3
    Invt_df.append(df)
pd.concat(Invt_df).to_pickle(f"721TDFPOrder_L{lead_time}.pkl")

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:53<00:00, 797.14it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:52<00:00, 813.00it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:53<00:00, 797.11it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:53<00:00, 798.65it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:53<00:00, 795.68it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:52<00:00, 808.45it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:54<00:00, 785.76it/s]

-----------DOWN!------------

100%|███████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42686/42686 [00:52<00:00, 808.67it/s]

-----------DOWN!------------

In [10]:
a = pd.concat(Invt_df)
a[a['name'] == 'lgb_base']

,name,true_demand,forecasts,ot_90,ip_90,net_90,backlog_90,ch_90,cb_90,ot_95,...,net_95,backlog_95,ch_95,cb_95,ot_99,ip_99,net_99,backlog_99,ch_99,cb_99
0,lgb_base,4,0,7.338106,7.338106,7.338106,0.0,7.338106,0.0,8.939324,...,8.939324,0.0,8.939324,0.0,11.942942,11.942942,11.942942,0.0,11.942942,0.0
1,lgb_base,5,0,2.989336,5.327442,5.327442,0.0,5.327442,0.0,2.989336,...,6.928660,0.0,6.928660,0.0,2.989336,9.932278,9.932278,0.0,9.932278,0.0
2,lgb_base,7,0,5.119798,3.447240,3.447240,0.0,3.447240,0.0,5.119798,...,5.048458,0.0,5.048458,0.0,5.119798,8.052076,8.052076,0.0,8.052076,0.0
3,lgb_base,1,0,8.181289,10.628529,10.628529,0.0,10.628529,0.0,8.181289,...,12.229747,0.0,12.229747,0.0,8.181289,15.233366,15.233366,0.0,15.233366,0.0
4,lgb_base,9,0,0.068346,1.696875,1.696875,0.0,1.696875,0.0,0.068346,...,3.298093,0.0,3.298093,0.0,0.068346,6.301712,6.301712,0.0,6.301712,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195203,lgb_base,0,0,0.000000,0.712879,0.712879,0.0,0.712879,0.0,0.000000,...,0.768138,0.0,0.768138,0.0,0.000000,0.900418,0.900418,0.0,0.900418,0.0
1195204,lgb_base,0,0,0.000000,0.712879,0.712879,0.0,0.712879,0.0,0.000000,...,0.768138,0.0,0.768138,0.0,0.000000,0.900418,0.900418,0.0,0.900418,0.0
1195205,lgb_base,0,0,0.000000,0.712879,0.712879,0.0,0.712879,0.0,0.000000,...,0.768138,0.0,0.768138,0.0,0.000000,0.900418,0.900418,0.0,0.900418,0.0
1195206,lgb_base,0,0,0.000000,0.712879,0.712879,0.0,0.712879,0.0,0.000000,...,0.768138,0.0,0.768138,0.0,0.000000,0.900418,0.900418,0.0,0.900418,0.0
1195207,lgb_base,0,0,0.000000,0.712879,0.712879,0.0,0.712879,0.0,0.000000,...,0.768138,0.0,0.768138,0.0,0.000000,0.900418,0.900418,0.0,0.900418,0.0

In [12]:
a[a['name'] == 'lgb_mint']

,name,true_demand,forecasts,ot_90,ip_90,net_90,backlog_90,ch_90,cb_90,ot_95,...,net_95,backlog_95,ch_95,cb_95,ot_99,ip_99,net_99,backlog_99,ch_99,cb_99
0,lgb_mint,4,0,6.833790,6.833790,6.833790,0.0,6.833790,0.0,8.405735,...,8.405735,0.0,8.405735,0.0,11.354442,11.354442,11.354442,0.0,11.354442,0.0
1,lgb_mint,5,0,3.316278,5.150068,5.150068,0.0,5.150068,0.0,3.316278,...,6.722013,0.0,6.722013,0.0,3.316278,9.670721,9.670721,0.0,9.670721,0.0
2,lgb_mint,7,0,5.008720,3.158788,3.158788,0.0,3.158788,0.0,5.008720,...,4.730733,0.0,4.730733,0.0,5.008720,7.679440,7.679440,0.0,7.679440,0.0
3,lgb_mint,1,0,7.791446,9.950234,9.950234,0.0,9.950234,0.0,7.791446,...,11.522179,0.0,11.522179,0.0,7.791446,14.470886,14.470886,0.0,14.470886,0.0
4,lgb_mint,9,0,0.598750,1.548984,1.548984,0.0,1.548984,0.0,0.598750,...,3.120929,0.0,3.120929,0.0,0.598750,6.069636,6.069636,0.0,6.069636,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195203,lgb_mint,0,0,0.000000,0.675024,0.675024,0.0,0.675024,0.0,0.000000,...,0.692733,0.0,0.692733,0.0,0.000000,0.821192,0.821192,0.0,0.821192,0.0
1195204,lgb_mint,0,0,0.000000,0.675024,0.675024,0.0,0.675024,0.0,0.000000,...,0.692733,0.0,0.692733,0.0,0.000000,0.821192,0.821192,0.0,0.821192,0.0
1195205,lgb_mint,0,0,0.000000,0.675024,0.675024,0.0,0.675024,0.0,0.000000,...,0.692733,0.0,0.692733,0.0,0.000000,0.821192,0.821192,0.0,0.821192,0.0
1195206,lgb_mint,0,0,0.000000,0.675024,0.675024,0.0,0.675024,0.0,0.000000,...,0.692733,0.0,0.692733,0.0,0.000000,0.821192,0.821192,0.0,0.821192,0.0
1195207,lgb_mint,0,0,0.000000,0.675024,0.675024,0.0,0.675024,0.0,0.000000,...,0.692733,0.0,0.692733,0.0,0.000000,0.821192,0.821192,0.0,0.821192,0.0

### L3

In [12]:
lead_time = 3
path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
TD   = pd.read_pickle(F"OrderTDFP_L{lead_time}.pkl")
truth= pd.read_pickle(f"{path1}future_28.pkl")['y']
Invt_df = []
names   = [ "lgb_base", "lgb_bu", "lgb_td", "lgb_mint", "ets_base", "ets_bu", "ets_td", "ets_mint"]

for i in names:
    df = loop2(fcst = TD[TD['name'] == i].iloc[:,-3:], truth = truth, residual = [], NAME = i, df_list = [], L_=lead_time)# L_=3
    Invt_df.append(df)
pd.concat(Invt_df).to_pickle(f"TDFPOrder_L{lead_time}.pkl")

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:12<00:00, 588.01it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:10<00:00, 606.24it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:11<00:00, 601.06it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:11<00:00, 595.90it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:10<00:00, 610.56it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:10<00:00, 611.29it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:11<00:00, 596.66it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:10<00:00, 604.43it/s]

-----------DOWN!------------

### L7

In [13]:
lead_time = 7
path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
TD   = pd.read_pickle(F"OrderTDFP_L{lead_time}.pkl")
truth= pd.read_pickle(f"{path1}future_28.pkl")['y']
Invt_df = []
names   = [ "lgb_base", "lgb_bu", "lgb_td", "lgb_mint", "ets_base", "ets_bu", "ets_td", "ets_mint"]

for i in names:
    df = loop2(fcst = TD[TD['name'] == i].iloc[:,-3:], truth = truth, residual = [], NAME = i, df_list = [], L_=lead_time)# L_=3
    Invt_df.append(df)
pd.concat(Invt_df).to_pickle(f"TDFPOrder_L{lead_time}.pkl")

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:18<00:00, 545.03it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:18<00:00, 548.73it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:19<00:00, 541.98it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:19<00:00, 541.41it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:18<00:00, 542.66it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:18<00:00, 544.31it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:18<00:00, 548.58it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:18<00:00, 546.30it/s]

-----------DOWN!------------

### L14

In [55]:
lead_time = 14
path1  = 'C:/PycharmProjects/yjz/Extension for hts/JayCode/Models/'
TD   = pd.read_pickle(F"OrderTDFP_L{lead_time}.pkl")
truth= pd.read_pickle(f"{path1}future_28.pkl")['y']
Invt_df = []
names   = [ "lgb_base", "lgb_bu", "lgb_td", "lgb_mint", "ets_base", "ets_bu", "ets_td", "ets_mint"]

for i in names:
    df = loop2(fcst = TD[TD['name'] == i].iloc[:,-3:], truth = truth, residual = [], NAME = i, df_list = [], L_=lead_time)# L_=3
    Invt_df.append(df)
pd.concat(Invt_df).to_pickle(f"TDFPOrder_L{lead_time}.pkl")

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:21<00:00, 528.75it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:20<00:00, 529.61it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:23<00:00, 514.90it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:21<00:00, 525.16it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:21<00:00, 528.67it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:21<00:00, 523.54it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:21<00:00, 523.77it/s]

-----------DOWN!------------

100%|█████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████████| 42840/42840 [01:21<00:00, 522.95it/s]

-----------DOWN!------------