In [1]:
import pandas as pd
import numpy as np

In [2]:
ets  = pd.read_csv("8ETS.csv")
lgbm = pd.read_csv("8LGBM.csv")

In [3]:
lgbm

,Levels,Forecast_Methods,Target_Service_Level,Senario,Achieved_Service_Level,Holding_Costs,Backlogging_Costs
0,10,LGBM,90%,BASE,0.873483,6.512187,3.861173
1,11,LGBM,90%,BASE,0.885083,3.548454,2.193455
2,12,LGBM,90%,BASE,0.899572,1.953727,1.177339
3,10,LGBM,95%,BASE,0.913859,8.119452,5.253860
4,11,LGBM,95%,BASE,0.920157,4.393018,3.132948
...,...,...,...,...,...,...,...
139,11,LGBM_MinT,95%,MinT_IR,0.943752,5.133591,2.228453
140,12,LGBM_MinT,95%,MinT_IR,0.891213,1.909343,2.633300
141,10,LGBM_MinT,99%,MinT_IR,0.995643,20.568091,1.580670
142,11,LGBM_MinT,99%,MinT_IR,0.972548,6.995002,5.594713
143,12,LGBM_MinT,99%,MinT_IR,0.924268,2.429892,9.457534

In [4]:
lgb10 = lgbm[(lgbm['Senario'] != 'TD_IR')&(lgbm['Levels'] == 10)]
lgb11 = lgbm[lgbm['Levels'] == 11]
lgb12 = lgbm[(lgbm['Senario'] != 'BU_IR')&(lgbm['Levels'] == 12)]
lgb_cost = pd.concat([lgb10,lgb11,lgb12])

ets10 = ets[(ets['Senario'] != 'TD_IR')&(ets['Levels'] == 10)]
ets11 = ets[ets['Levels'] == 11]
ets12 = ets[(ets['Senario'] != 'BU_IR')&(ets['Levels'] == 12)]
ets_cost = pd.concat([ets10,ets11,ets12])

In [5]:
len(lgbm[lgbm['Levels'] == 11])

48

In [6]:
ets_cost

,Levels,Forecast_Methods,Target_Service_Level,Senario,Achieved_Service_Level,Holding_Costs,Backlogging_Costs
0,10,ETS,90%,BASE,0.864557,7.173758,4.402604
3,10,ETS,95%,BASE,0.905473,8.925419,6.041404
6,10,ETS,99%,BASE,0.953580,12.361370,14.305892
9,10,ETS_BU,90%,BASE,0.862191,7.140424,4.579432
12,10,ETS_BU,95%,BASE,0.903809,8.909749,6.333159
...,...,...,...,...,...,...,...
131,12,ETS_TD,95%,MinT_IR,0.872851,1.771982,2.996519
134,12,ETS_TD,99%,MinT_IR,0.910049,2.311796,10.718304
137,12,ETS_MinT,90%,MinT_IR,0.838058,1.405144,1.849470
140,12,ETS_MinT,95%,MinT_IR,0.864862,1.660416,3.190279
143,12,ETS_MinT,99%,MinT_IR,0.902742,2.156521,11.643205

In [7]:
lgb_cost.to_csv('lgb_cost.csv', index = False)

In [8]:
ets_cost.to_csv('ets_cost.csv', index = False)