In [2]:
import numpy as np
import pandas as pd
from math import ceil
from hierarchicalforecast.utils import aggregate
import pickle

c:\py\Anaconda3\lib\site-packages\numba\np\ufunc\parallel.py:371: NumbaWarning: The TBB threading layer requires TBB version 2021 update 6 or later i.e., TBB_INTERFACE_VERSION >= 12060. Found TBB_INTERFACE_VERSION = 12040. The TBB threading layer is disabled.
  warnings.warn(problem)

In [3]:

DATA_SOURCE_DIR = "../Data/Original"
PREPROCESSED_DATA_DIR = "../Data/Preprocessed"

# LEVELS_10_5_4_1_DATA_FILE = f"{PREPROCESSED_DATA_DIR}/lvls_10_5_4_1.pkl"
# LEVELS_10_5_4_1_SUMMING_MATRIX = f"{PREPROCESSED_DATA_DIR}/S_lvls_10_5_4_1.pkl"
# LEVELS_10_5_4_1_TAGS = f"{PREPROCESSED_DATA_DIR}/tags_lvls_10_5_4_1.bin"
# LEVELS_9_TO_1_DATA_FILE = f"{PREPROCESSED_DATA_DIR}/lvls_9_to_1.pkl"
# LEVELS_9_TO_1_SUMMING_MATRIX = f"{PREPROCESSED_DATA_DIR}/S_lvls_9_to_1.pkl"
# LEVELS_9_TO_1_TAGS = f"{PREPROCESSED_DATA_DIR}/tags_lvls_9_to_1.bin"
# LEVELS_7_6_2_DATA_FILE = f"{PREPROCESSED_DATA_DIR}/lvls_7_6_2.pkl"
# LEVELS_7_6_2_SUMMING_MATRIX = f"{PREPROCESSED_DATA_DIR}/S_lvls_7_6_2.pkl"
LEVELS_1_TO_12_DATA_FILE = f"{PREPROCESSED_DATA_DIR}/lvls_1_to_12.pkl"
LEVELS_1_TO_12_PRICE_FEATURES = f"{PREPROCESSED_DATA_DIR}/lvls_1_to_12_price_features.pkl"
LEVELS_1_TO_12_SUMMING_MATRIX = f"{PREPROCESSED_DATA_DIR}/S_lvls_1_to_12.pkl"
LEVELS_1_TO_12_TAGS = f"{PREPROCESSED_DATA_DIR}/tags_lvls_1_to_12.bin"
LEVELS_1_AND_12_DATA_FILE = f"{PREPROCESSED_DATA_DIR}/lvls_1_and_12.pkl"
LEVELS_1_AND_12_SUMMING_MATRIX = f"{PREPROCESSED_DATA_DIR}/S_lvls_1_and_12.pkl"
LEVELS_1_AND_12_TAGS = f"{PREPROCESSED_DATA_DIR}/tags_lvls_1_and_12.bin"

STATES = ["CA", "TX", "WI"]
STORES = ["CA_1", "CA_2", "CA_3", "CA_4", "TX_1", "TX_2", "TX_3", "WI_1", "WI_2", "WI_3"]
CATEGORIES = ["FOODS", "HOBBIES", "HOUSEHOLD"]
DEPARTMENTS = ["FOODS_1", "FOODS_2", "FOODS_3", "HOBBIES_1", "HOBBIES_2", "HOUSEHOLD_1", "HOUSEHOLD_2"]

TARGET = "units_sold"
SPEC_LVLS_1_AND_12 = [
    ["total"],  # Level 1,
    ["total", "state_id", "store_id", "cat_id", "dept_id", "item_id"]   # Most disaggregated level (lvl 12)
]
SPEC_LVLS_1_TO_12 = [
    ["total"],  # Level 1
    ["total", "state_id"],  # Level 2
    ["total", "state_id", "store_id"],  # Level 3
    ["total", "cat_id"],    # Level 4
    ["total", "cat_id", "dept_id"], # Level 5
    ["total", "state_id", "cat_id"],    # Level 6
    ["total", "state_id", "cat_id", "dept_id"],   # Level 7
    ["total", "state_id", "store_id", "cat_id"],    # Level 8
    ["total", "state_id", "store_id", "cat_id", "dept_id"],   # Level 9
    ["total", "cat_id", "dept_id", "item_id"],    # Level 10
    ["total", "state_id", "cat_id", "dept_id", "item_id"],   # Level 11
    ["total", "state_id", "store_id", "cat_id", "dept_id", "item_id"]   # Most disaggregated level (lvl 12)
]

In [4]:
def get_level(unique_id: str):
    ids = unique_id.split("/")
    level = 1
    
    if len(ids) == 2:
        if ids[-1] in STATES:
            level = 2
        elif ids[-1] in CATEGORIES:
            level = 4
    elif len(ids) == 3:
        if ids[1] in STATES and ids[2] in STORES:
            level = 3
        elif ids[1] in CATEGORIES and ids[2] in DEPARTMENTS:
            level = 5
        elif ids[1] in STATES and ids[2] in CATEGORIES:
            level = 6
    elif len(ids) == 4:
        if ids[1] in STATES and ids[2] in CATEGORIES and ids[3] in DEPARTMENTS:
            level = 7
        elif ids[1] in STATES and ids[2] in STORES and ids[3] in CATEGORIES:
            level = 8
        else:
            level = 10
    elif len(ids) == 5:
        if ids[2] in STORES:
            level = 9
        else:
            level = 11
    elif len(ids) == 6:
        level = 12

    return level


def get_hierarchical_ts_df(spec: list, base_df: pd.DataFrame):
    # Get hierarchical demand data
    hierarchical_cols = [
        "ds", 
        "y", 
        "total",
        'state_id',
        'store_id',
        'cat_id',
        'dept_id',
        'item_id'
    ]
    Y_df, S_df, tags = aggregate(base_df[hierarchical_cols], spec)
    Y_df.reset_index(inplace=True)
    print(Y_df)

    # Get date features
    date_feature_cols = [
        'ds',
        'tm_d',
        'tm_w',
        'tm_m',
        'tm_y',
        'tm_wm',
        'tm_dw',
        'tm_w_end'
    ]
    dates = base_df[date_feature_cols].drop_duplicates().set_index('ds')
    Y_df = Y_df.set_index("ds").join(dates, how="left").reset_index()
    del dates

    # Get event features
    event_feature_cols = [
        'ds',
        'event_name_1',
        'event_type_1',
        'event_name_2',
        'event_type_2',
        'snap_CA',
        'snap_TX',
        'snap_WI'
    ]
    events = base_df[event_feature_cols].drop_duplicates().set_index('ds')
    Y_df = Y_df.set_index("ds").join(events, how="left").reset_index()
    del events

    # Get level
    Y_df["level"] = Y_df["unique_id"].apply(get_level)

    return Y_df, S_df, tags


def get_hierarchical_price_features(spec: list, base_df: pd.DataFrame):
    # Get aggregate price features
    bottom_lvl_prices_cols = [
        "ds", 
        "sell_price", 
        "total",
        'state_id',
        'store_id',
        'cat_id',
        'dept_id',
        'item_id'
    ]
    bottom_lvl_prices = base_df[bottom_lvl_prices_cols]
    bottom_lvl_prices.rename(columns={"sell_price": "y"}, inplace=True)
    prices_df, _, _ = aggregate(bottom_lvl_prices, spec)
    prices_df.rename(columns={"y": "sell_price"}, inplace=True)
    del bottom_lvl_prices
    return prices_df.reset_index()

### Base Dataframe

In [5]:
# Load csvs from Kaggle - https://www.kaggle.com/c/m5-forecasting-accuracy/data
sales_df = pd.read_csv(f"sales_train_evaluation.csv")
prices_df = pd.read_csv(f"sell_prices.csv")
calendar_df = pd.read_csv(f"calendar.csv")

# Convert to long format dataframe
index_cols = [
    "id",
    "item_id",
    "dept_id",
    "cat_id",
    "store_id",
    "state_id"
]
grid_df = pd.melt(
    sales_df,
    id_vars=index_cols,
    var_name="d",
    value_name=TARGET
)
del sales_df

# We can free some memory by converting "strings" to categorical. It will not affect merging and we will not lose any valuable data
for col in index_cols:
    grid_df[col] = grid_df[col].astype('category')

print(grid_df["d"].unique())
print(grid_df.info())

['d_1' 'd_2' 'd_3' ... 'd_1939' 'd_1940' 'd_1941']
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59181090 entries, 0 to 59181089
Data columns (total 8 columns):
 #   Column      Dtype
---  ------      -----
 0   id          category
 1   item_id     category
 2   dept_id     category
 3   cat_id      category
 4   store_id    category
 5   state_id    category
 6   d           object
 7   units_sold  int64
dtypes: category(6), int64(1), object(1)
memory usage: 1.3+ GB
None

### Calendar Features

In [6]:
%%time
calendar_index_cols = [
    'date',
    'wm_yr_wk',
    'd',
    'event_name_1',
    'event_type_1',
    'event_name_2',
    'event_type_2',
    'snap_CA',
    'snap_TX',
    'snap_WI'
]
grid_df = grid_df.merge(calendar_df[calendar_index_cols], on=["d"], how="left")
del calendar_df
for col in calendar_index_cols[2:]:
    grid_df[col] = grid_df[col].astype("category")

# Convert date column to DateTime
grid_df["date"] = pd.to_datetime(grid_df["date"])
print(grid_df.head())

# DateTime feature engineering
grid_df['tm_d'] = grid_df['date'].dt.day.astype(np.int8)
grid_df['tm_w'] = grid_df['date'].dt.isocalendar().week.astype(np.int8)
grid_df['tm_m'] = grid_df['date'].dt.month.astype(np.int8)
grid_df['tm_y'] = grid_df['date'].dt.year
grid_df['tm_y'] = (grid_df['tm_y'] - grid_df['tm_y'].min()).astype(np.int8)
grid_df['tm_wm'] = grid_df['tm_d'].apply(lambda x: ceil(x/7)).astype(np.int8)
grid_df['tm_dw'] = grid_df['date'].dt.dayofweek.astype(np.int8) 
grid_df['tm_w_end'] = (grid_df['tm_dw']>=5).astype(np.int8)

print(grid_df.columns)
print(grid_df.info())
print(grid_df.head())

                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id    d  units_sold       date  wm_yr_wk event_name_1 event_type_1  \
0       CA  d_1           0 2011-01-29     11101          NaN          NaN
1       CA  d_1           0 2011-01-29     11101          NaN          NaN
2       CA  d_1           0 2011-01-29     11101          NaN          NaN
3       CA  d_1           0 2011-01-29     11101          NaN          NaN
4       CA  d_1           0 2011-01-29     11101          NaN          NaN

  event_name_2 event_type_2 snap_CA snap_TX snap_WI
0          NaN          NaN       0       0       0
1          NaN          NaN       0       0       0
2          NaN          NaN       0       0       0
3          NaN          NaN       0       0       0
4          NaN          NaN       0       0       0
Index(['id', 'item_id', 'dept_id', 'cat_id', 'store_id', 'state_id', 'd',
       'units_sold', 'date', 'wm_yr_wk', 'event_name_1', 'event_type_1',
       'event_name_2', 'event_type_2', 'snap_CA', 'snap_TX', 'snap_WI', 'tm_d',
       'tm_w', 'tm_m', 'tm_y', 'tm_wm', 'tm_dw', 'tm_w_end'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59181090 entries, 0 to 59181089
Data columns (total 24 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             category
 7   units_sold    int64
 8   date          datetime64[ns]
 9   wm_yr_wk      int64
 10  event_name_1  category
 11  event_type_1  category
 12  event_name_2  category
 13  event_type_2  category
 14  snap_CA       category
 15  snap_TX       category
 16  snap_WI       category
 17  tm_d          int8
 18  tm_w          int8
 19  tm_m          int8
 20  tm_y          int8
 21  tm_wm         int8
 22  tm_dw         int8
 23  tm_w_end      int8
dtypes: category(14), datetime64[ns](1), int64(2), int8(7)
memory usage: 3.1 GB
None
                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_evaluation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_evaluation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_evaluation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_evaluation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_evaluation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id    d  units_sold       date  wm_yr_wk  ... snap_CA snap_TX snap_WI  \
0       CA  d_1           0 2011-01-29     11101  ...       0       0       0
1       CA  d_1           0 2011-01-29     11101  ...       0       0       0
2       CA  d_1           0 2011-01-29     11101  ...       0       0       0
3       CA  d_1           0 2011-01-29     11101  ...       0       0       0
4       CA  d_1           0 2011-01-29     11101  ...       0       0       0

  tm_d tm_w tm_m tm_y  tm_wm  tm_dw  tm_w_end
0   29    4    1    0      5      5         1
1   29    4    1    0      5      5         1
2   29    4    1    0      5      5         1
3   29    4    1    0      5      5         1
4   29    4    1    0      5      5         1

[5 rows x 24 columns]
Wall time: 1min 42s

### Price Features

In [7]:
%%time
price_index_cols = [
    "store_id",
    "item_id",
    "wm_yr_wk"
]
grid_df = grid_df.merge(prices_df, on=price_index_cols, how="left")
for col in price_index_cols[:2]:
    grid_df[col] = grid_df[col].astype("category")
grid_df = grid_df.drop(columns=["wm_yr_wk"])
del prices_df
grid_df["sell_price"] = grid_df["sell_price"].fillna(0) #  Replace trailing NaN prices with 0.

print(grid_df.shape)
print(grid_df.info())

(59181090, 24)
<class 'pandas.core.frame.DataFrame'>
Int64Index: 59181090 entries, 0 to 59181089
Data columns (total 24 columns):
 #   Column        Dtype
---  ------        -----
 0   id            category
 1   item_id       category
 2   dept_id       category
 3   cat_id        category
 4   store_id      category
 5   state_id      category
 6   d             category
 7   units_sold    int64
 8   date          datetime64[ns]
 9   event_name_1  category
 10  event_type_1  category
 11  event_name_2  category
 12  event_type_2  category
 13  snap_CA       category
 14  snap_TX       category
 15  snap_WI       category
 16  tm_d          int8
 17  tm_w          int8
 18  tm_m          int8
 19  tm_y          int8
 20  tm_wm         int8
 21  tm_dw         int8
 22  tm_w_end      int8
 23  sell_price    float64
dtypes: category(14), datetime64[ns](1), float64(1), int64(1), int8(7)
memory usage: 3.1 GB
None
Wall time: 45.6 s

In [8]:
%%time
# Formatting for Nixtla aggregate function
grid_df.rename(columns={TARGET: "y", "d": "ds"}, inplace=True)
grid_df["total"] = "TOTAL"  # Dummy column for highest aggregation level.
grid_df["total"] = grid_df["total"].astype("category")
grid_df["ds"] = grid_df['ds'].apply(lambda x: x[2:])
grid_df["ds"] = grid_df["ds"].astype(np.int16)
grid_df[["ds", "y", "total"] + index_cols].head()

Wall time: 4.33 s

,ds,y,total,id,item_id,dept_id,cat_id,store_id,state_id
0,1,0,TOTAL,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA
1,1,0,TOTAL,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA
2,1,0,TOTAL,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA
3,1,0,TOTAL,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA
4,1,0,TOTAL,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA

### Summing matrix and tags for levels 1 and 12

In [ ]:
# S_df_lvls_1_and_12.to_pickle(LEVELS_1_AND_12_SUMMING_MATRIX)
# with open(LEVELS_1_AND_12_TAGS, "wb") as f:
#     pickle.dump(tags_lvls_1_and_12, f)

### Hierarchical Time Series Levels 1 - 12

In [ ]:
Y_df_lvls_1_to_12, S_df_lvls_1_to_12, tags_lvls_1_to_12 = get_hierarchical_ts_df(SPEC_LVLS_1_TO_12, grid_df)
Y_df_lvls_1_to_12

In [ ]:
Y_df_lvls_1_to_12.groupby(by="level")["level"].count()/1941

In [14]:
S_df_lvls_1_to_12

,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_001,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_002,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_003,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_004,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_005,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_006,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_008,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_009,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_010,TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_011,...,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_507,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_508,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_509,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_510,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_511,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_512,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_513,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_514,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_515,TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_516
TOTAL,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
TOTAL/CA,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TOTAL/TX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
TOTAL/WI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
TOTAL/FOODS,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_512,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_514,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_515,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_516,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [15]:
Y_df_lvls_1_to_12.to_pickle(LEVELS_1_TO_12_DATA_FILE)
S_df_lvls_1_to_12.to_pickle(LEVELS_1_TO_12_SUMMING_MATRIX)
with open(LEVELS_1_TO_12_TAGS, "wb") as f:
    pickle.dump(tags_lvls_1_to_12, f)

In [16]:
tags_lvls_1_to_12

{'total': array(['TOTAL'], dtype=object),
 'total/state_id': array(['TOTAL/CA', 'TOTAL/TX', 'TOTAL/WI'], dtype=object),
 'total/cat_id': array(['TOTAL/FOODS', 'TOTAL/HOBBIES', 'TOTAL/HOUSEHOLD'], dtype=object),
 'total/state_id/store_id': array(['TOTAL/CA/CA_1', 'TOTAL/CA/CA_2', 'TOTAL/CA/CA_3', 'TOTAL/CA/CA_4',
        'TOTAL/TX/TX_1', 'TOTAL/TX/TX_2', 'TOTAL/TX/TX_3', 'TOTAL/WI/WI_1',
        'TOTAL/WI/WI_2', 'TOTAL/WI/WI_3'], dtype=object),
 'total/cat_id/dept_id': array(['TOTAL/FOODS/FOODS_1', 'TOTAL/FOODS/FOODS_2',
        'TOTAL/FOODS/FOODS_3', 'TOTAL/HOBBIES/HOBBIES_1',
        'TOTAL/HOBBIES/HOBBIES_2', 'TOTAL/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/HOUSEHOLD/HOUSEHOLD_2'], dtype=object),
 'total/state_id/cat_id': array(['TOTAL/CA/FOODS', 'TOTAL/CA/HOBBIES', 'TOTAL/CA/HOUSEHOLD',
        'TOTAL/TX/FOODS', 'TOTAL/TX/HOBBIES', 'TOTAL/TX/HOUSEHOLD',
        'TOTAL/WI/FOODS', 'TOTAL/WI/HOBBIES', 'TOTAL/WI/HOUSEHOLD'],
       dtype=object),
 'total/state_id/cat_id/dept_id': array(['TOTAL/CA/FOODS/FOODS_1', 'TOTAL/CA/FOODS/FOODS_2',
        'TOTAL/CA/FOODS/FOODS_3', 'TOTAL/CA/HOBBIES/HOBBIES_1',
        'TOTAL/CA/HOBBIES/HOBBIES_2', 'TOTAL/CA/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/CA/HOUSEHOLD/HOUSEHOLD_2', 'TOTAL/TX/FOODS/FOODS_1',
        'TOTAL/TX/FOODS/FOODS_2', 'TOTAL/TX/FOODS/FOODS_3',
        'TOTAL/TX/HOBBIES/HOBBIES_1', 'TOTAL/TX/HOBBIES/HOBBIES_2',
        'TOTAL/TX/HOUSEHOLD/HOUSEHOLD_1', 'TOTAL/TX/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/WI/FOODS/FOODS_1', 'TOTAL/WI/FOODS/FOODS_2',
        'TOTAL/WI/FOODS/FOODS_3', 'TOTAL/WI/HOBBIES/HOBBIES_1',
        'TOTAL/WI/HOBBIES/HOBBIES_2', 'TOTAL/WI/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/WI/HOUSEHOLD/HOUSEHOLD_2'], dtype=object),
 'total/state_id/store_id/cat_id': array(['TOTAL/CA/CA_1/FOODS', 'TOTAL/CA/CA_1/HOBBIES',
        'TOTAL/CA/CA_1/HOUSEHOLD', 'TOTAL/CA/CA_2/FOODS',
        'TOTAL/CA/CA_2/HOBBIES', 'TOTAL/CA/CA_2/HOUSEHOLD',
        'TOTAL/CA/CA_3/FOODS', 'TOTAL/CA/CA_3/HOBBIES',
        'TOTAL/CA/CA_3/HOUSEHOLD', 'TOTAL/CA/CA_4/FOODS',
        'TOTAL/CA/CA_4/HOBBIES', 'TOTAL/CA/CA_4/HOUSEHOLD',
        'TOTAL/TX/TX_1/FOODS', 'TOTAL/TX/TX_1/HOBBIES',
        'TOTAL/TX/TX_1/HOUSEHOLD', 'TOTAL/TX/TX_2/FOODS',
        'TOTAL/TX/TX_2/HOBBIES', 'TOTAL/TX/TX_2/HOUSEHOLD',
        'TOTAL/TX/TX_3/FOODS', 'TOTAL/TX/TX_3/HOBBIES',
        'TOTAL/TX/TX_3/HOUSEHOLD', 'TOTAL/WI/WI_1/FOODS',
        'TOTAL/WI/WI_1/HOBBIES', 'TOTAL/WI/WI_1/HOUSEHOLD',
        'TOTAL/WI/WI_2/FOODS', 'TOTAL/WI/WI_2/HOBBIES',
        'TOTAL/WI/WI_2/HOUSEHOLD', 'TOTAL/WI/WI_3/FOODS',
        'TOTAL/WI/WI_3/HOBBIES', 'TOTAL/WI/WI_3/HOUSEHOLD'], dtype=object),
 'total/cat_id/dept_id/item_id': array(['TOTAL/FOODS/FOODS_1/FOODS_1_001',
        'TOTAL/FOODS/FOODS_1/FOODS_1_002',
        'TOTAL/FOODS/FOODS_1/FOODS_1_003', ...,
        'TOTAL/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_514',
        'TOTAL/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_515',
        'TOTAL/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_516'], dtype=object),
 'total/state_id/store_id/cat_id/dept_id': array(['TOTAL/CA/CA_1/FOODS/FOODS_1', 'TOTAL/CA/CA_1/FOODS/FOODS_2',
        'TOTAL/CA/CA_1/FOODS/FOODS_3', 'TOTAL/CA/CA_1/HOBBIES/HOBBIES_1',
        'TOTAL/CA/CA_1/HOBBIES/HOBBIES_2',
        'TOTAL/CA/CA_1/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/CA/CA_1/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/CA/CA_2/FOODS/FOODS_1', 'TOTAL/CA/CA_2/FOODS/FOODS_2',
        'TOTAL/CA/CA_2/FOODS/FOODS_3', 'TOTAL/CA/CA_2/HOBBIES/HOBBIES_1',
        'TOTAL/CA/CA_2/HOBBIES/HOBBIES_2',
        'TOTAL/CA/CA_2/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/CA/CA_2/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/CA/CA_3/FOODS/FOODS_1', 'TOTAL/CA/CA_3/FOODS/FOODS_2',
        'TOTAL/CA/CA_3/FOODS/FOODS_3', 'TOTAL/CA/CA_3/HOBBIES/HOBBIES_1',
        'TOTAL/CA/CA_3/HOBBIES/HOBBIES_2',
        'TOTAL/CA/CA_3/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/CA/CA_3/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/CA/CA_4/FOODS/FOODS_1', 'TOTAL/CA/CA_4/FOODS/FOODS_2',
        'TOTAL/CA/CA_4/FOODS/FOODS_3', 'TOTAL/CA/CA_4/HOBBIES/HOBBIES_1',
        'TOTAL/CA/CA_4/HOBBIES/HOBBIES_2',
        'TOTAL/CA/CA_4/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/CA/CA_4/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/TX/TX_1/FOODS/FOODS_1', 'TOTAL/TX/TX_1/FOODS/FOODS_2',
        'TOTAL/TX/TX_1/FOODS/FOODS_3', 'TOTAL/TX/TX_1/HOBBIES/HOBBIES_1',
        'TOTAL/TX/TX_1/HOBBIES/HOBBIES_2',
        'TOTAL/TX/TX_1/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/TX/TX_1/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/TX/TX_2/FOODS/FOODS_1', 'TOTAL/TX/TX_2/FOODS/FOODS_2',
        'TOTAL/TX/TX_2/FOODS/FOODS_3', 'TOTAL/TX/TX_2/HOBBIES/HOBBIES_1',
        'TOTAL/TX/TX_2/HOBBIES/HOBBIES_2',
        'TOTAL/TX/TX_2/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/TX/TX_2/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/TX/TX_3/FOODS/FOODS_1', 'TOTAL/TX/TX_3/FOODS/FOODS_2',
        'TOTAL/TX/TX_3/FOODS/FOODS_3', 'TOTAL/TX/TX_3/HOBBIES/HOBBIES_1',
        'TOTAL/TX/TX_3/HOBBIES/HOBBIES_2',
        'TOTAL/TX/TX_3/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/TX/TX_3/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/WI/WI_1/FOODS/FOODS_1', 'TOTAL/WI/WI_1/FOODS/FOODS_2',
        'TOTAL/WI/WI_1/FOODS/FOODS_3', 'TOTAL/WI/WI_1/HOBBIES/HOBBIES_1',
        'TOTAL/WI/WI_1/HOBBIES/HOBBIES_2',
        'TOTAL/WI/WI_1/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/WI/WI_1/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/WI/WI_2/FOODS/FOODS_1', 'TOTAL/WI/WI_2/FOODS/FOODS_2',
        'TOTAL/WI/WI_2/FOODS/FOODS_3', 'TOTAL/WI/WI_2/HOBBIES/HOBBIES_1',
        'TOTAL/WI/WI_2/HOBBIES/HOBBIES_2',
        'TOTAL/WI/WI_2/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/WI/WI_2/HOUSEHOLD/HOUSEHOLD_2',
        'TOTAL/WI/WI_3/FOODS/FOODS_1', 'TOTAL/WI/WI_3/FOODS/FOODS_2',
        'TOTAL/WI/WI_3/FOODS/FOODS_3', 'TOTAL/WI/WI_3/HOBBIES/HOBBIES_1',
        'TOTAL/WI/WI_3/HOBBIES/HOBBIES_2',
        'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_1',
        'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2'], dtype=object),
 'total/state_id/cat_id/dept_id/item_id': array(['TOTAL/CA/FOODS/FOODS_1/FOODS_1_001',
        'TOTAL/CA/FOODS/FOODS_1/FOODS_1_002',
        'TOTAL/CA/FOODS/FOODS_1/FOODS_1_003', ...,
        'TOTAL/WI/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_514',
        'TOTAL/WI/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_515',
        'TOTAL/WI/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_516'], dtype=object),
 'total/state_id/store_id/cat_id/dept_id/item_id': array(['TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_001',
        'TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_002',
        'TOTAL/CA/CA_1/FOODS/FOODS_1/FOODS_1_003', ...,
        'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_514',
        'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_515',
        'TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_2_516'],
       dtype=object)}

##### Hierarchical Price Features (Aggregation)

In [12]:
price_df_lvls_1_to_12 = get_hierarchical_price_features(SPEC_LVLS_1_TO_12, grid_df)
price_df_lvls_1_to_12

C:\Users\stefa\AppData\Local\Temp\ipykernel_7364\4010180993.py:100: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bottom_lvl_prices.rename(columns={"sell_price": "y"}, inplace=True)

                                                  unique_id    ds  sell_price
0                                                     TOTAL     1    44506.87
1                                                     TOTAL     2    44506.87
2                                                     TOTAL     3    44506.87
3                                                     TOTAL     4    44506.87
4                                                     TOTAL     5    44506.87
...                                                     ...   ...         ...
83152435  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1937        5.94
83152436  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1938        5.94
83152437  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1939        5.94
83152438  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1940        5.94
83152439  TOTAL/WI/WI_3/HOUSEHOLD/HOUSEHOLD_2/HOUSEHOLD_...  1941        5.94

[83152440 rows x 3 columns]

In [13]:
price_df_lvls_1_to_12.to_pickle(LEVELS_1_TO_12_PRICE_FEATURES)